@import "../../colors";

.login-container{
    border: 3px solid black;
    width: 200px;
}
.emailContainer{
    // border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.textEmail{

}
.inpEmail{

}