// Colors
$greenfeend: #9AD9CE;
$greenopac35: rgba(154, 217, 206, 0.35);
$greenopac10: rgba(154, 217, 206, 0.10);
$redfeen: #FD0000;
$graynowhour: rgba(176, 176, 176, 0.35);
$graydirectmatch: #F9F9F9;
$grayhorary:rgba(2, 2, 2, 0.1);
$yellowfeen: rgba(255, 245, 16, 0.67);
$blackballon: #1C1818;
$yellowcalendar: #FBB900;
$yellowalert:  #FCCD47;
$graycalendar:  #BABABA;
$redcalendar: #BA0D04;
$grayaddmeeting:  #666666;
$greencalendar:  #00C2A2;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$font-family: 'Varela Round', sans-serif;

.principal-div {
    background: #F9F9F9;
    width: 390px;
    height: 55px;
    top: -1px;
    position: fixed;
}









